/* Components Library Start */
* {
  margin: 0rem;
}
/* Font import */
@media screen {
  @font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
    src: url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
    src: url("../fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  }
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 6.5rem;
}
body {
  font-family: "Gilroy", sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
}
header {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8.75rem;
}
img {
  width: 9.6875rem;
  height: 2.5rem;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
}

.menu li a,
.cta a {
  text-decoration: none;
  color: #333333;
}
nav .menu {
  display: flex;
  gap: 2.5rem;
}
.menu li > #active {
  color: #0065fe;
}
.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 1.5rem;
  height: 2.75rem;
  width: 13.1875rem;
}
.cta a {
  color: #0065fe;
}
.cta .primary {
  padding: 0.75rem 1.5rem;
  border-radius: 6.25rem;
  background-color: #0065fe;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 64rem;
  height: fit-content;
  justify-content: center;
}
#title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  line-height: 6rem;
  color: #141414;
}
#title span {
  color: #0065fe;
}
.underline {
  position: relative;
  width: 14rem;
  height: 1.2444rem;
  left: 26rem;
  top: -1.5rem;
}
.center {
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  width: 781px;
}
