/* Components Library Start */
* {
  margin: 0rem;
}
/* Font import */
@media screen {
  @font-face {
    font-family: 'Gilroy';
    src: url(./assets/fonts/gilroy.ttf) format("ttf");
  } 
}
/* Main */
body {
  font-family: 'Gilroy', sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  size: 1.125rem;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8.75rem;
}
img {
  width: 9.6875rem;
  height: 40px;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
}

.menu li a,
.cta a {
  text-decoration: none;
  color: #333333;
}
nav .menu {
  display: flex;
  gap: 2.5rem;
}
.menu li > #active {
  color: #0065fe;
}
.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 1.5rem;
  height: 44px;
  width: 211px;
}
.cta a {
  color: #0065fe;
}
.cta .primary {
  padding: 12px 24px;
  border-radius: 100px;
  background-color: #0065fe;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
